<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
<menu id="root-menu" label="root-menu">
  <item label="Terminal" icon="terminal-tango">
    <action name="Execute" command="sakura"/>
  </item>
  <item label="Browser" icon="firefox">
    <action name="Execute" command="firefox"/>
  </item>
  <separator/>
  <menu id="Graphics" label="Graphics" icon="applications-graphics">
    <item label="GIMP" icon="gimp">
      <action name="Execute" command="gimp"/>
    </item>
    <item label="Inkscape" icon="inkscape">
      <action name="Execute" command="inkscape"/>
    </item>
    <item label="mtPaint" icon="mtpaint">
      <action name="Execute" command="mtpaint"/>
    </item>
  </menu>
  <menu id="Internet" label="Internet" icon="applications-internet">
    <item label="Chromium" icon="chromium">
      <action name="Execute" command="chromium"/>
    </item>
    <item label="Firefox" icon="firefox">
      <action name="Execute" command="firefox"/>
    </item>
    <item label="HexChat" icon="io.github.Hexchat">
      <action name="Execute" command="hexchat"/>
    </item>
  </menu>
  <menu id="System" label="System" icon="applications-system">
    <item label="Alacritty" icon="utilities-terminal">
      <action name="Execute" command="alacritty" />
    </item>
    <item label="Foot" icon="foot">
      <action name="Execute" command="foot"/>
    </item>
    <item label="XTerm" icon="xterm-color_48x48">
      <action name="Execute" command="xterm"/>
    </item>
    <item label="Leafpad" icon="leafpad">
      <action name="Execute" command="leafpad"/>
    </item>
    <item label="Mousepad" icon="org.xfce.mousepad">
      <action name="Execute" command="mousepad"/>
    </item>
    <item label="Vim" icon="gvim">
      <action name="Execute" command="xterm -c 'vim'"/>
    </item>
  </menu>
  <separator/>
  <menu id="Exit" label="Exit" icon="exit">
    <item label="Reconfigure" icon="configure">
      <action name="Execute" command="killall -SIGHUP labwc"/>
    </item>
    <item label="Logout" icon="gnome-logout">
      <action name="Execute" command=""/>
    </item>
    <menu id="Shutdown" label="Shutdown" icon="system-shutdown">
      <item label="Suspend" icon="system-suspend-hibernate">
        <action name="Execute" command="systemctl suspend"/>
      </item>
      <item label="Reboot" icon="system-reboot">
        <action name="Execute" command="systemctl reboot"/>
      </item>
      <item label="Poweroff" icon="system-shutdown">
        <action name="Execute" command="systemctl poweroff"/>
      </item>
    </menu>
  </menu>
</menu>
</openbox_menu>
